In [10]:
import pandas as pd
import random
import os
import ast

# Master Movie Data Manipulation Notebook

How this notebook could work is that we iterate/clean on the 'meta' csv in pandas, and then save it in the repo after we have added the new/corrected/cleaned data

In [11]:
#### change pathname to your clean dataset
meta = pd.read_csv('/Users/nickparker/Documents/USF_MSDS/Module_1/593-Visualization/final_project/the-movies-dataset-clean/movies_metadata.csv')
#meta.head(2).T

In [12]:
print(meta.columns)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [13]:
### Adding profit and use of Budget Columns
meta['profit'] = meta['revenue'] - pd.to_numeric(meta['budget'],errors='coerce')
meta['useOfBudget'] = meta['revenue'] / (pd.to_numeric(meta['budget'],errors='coerce') + 000.1)

In [14]:
##Adding production company
#Added Production Companies as a trend
productionCompanies1 = []
for rowNum in range(meta.shape[0]):
    try: 
        productionCompanies1.append(ast.literal_eval(meta['production_companies'][rowNum])[0]['name'])
    except:
        productionCompanies1.append('nan')
        
productionCompanies2 = []        
for rowNum in range(meta.shape[0]):
    try: 
        productionCompanies2.append(ast.literal_eval(meta['production_companies'][rowNum])[1]['name'])
    except:
        productionCompanies2.append('nan')
        
meta['ProductionCo1'] = productionCompanies1
meta['ProductionCo2'] = productionCompanies2

In [15]:
##Adding genre
genre1 = []
for rowNum in range(meta.shape[0]):
    try: 
        genre1.append(ast.literal_eval(meta['genres'][rowNum])[0]['name'])
    except:
        genre1.append('nan')
        
genre2 = []        
for rowNum in range(meta.shape[0]):
    try: 
        genre2.append(ast.literal_eval(meta['genres'][rowNum])[1]['name'])
    except:
        genre2.append('nan')

genre3 = []        
for rowNum in range(meta.shape[0]):
    try: 
        genre3.append(ast.literal_eval(meta['genres'][rowNum])[2]['name'])
    except:
        genre3.append('nan')
meta['genre1'] = genre1
meta['genre2'] = genre2
meta['genre3'] = genre3

## Merging

In [16]:
## Don't run this cell unless you want to merge in ratings (big file)
#Also, update filepath
ratings = pd.read_csv('/Users/nickparker/Documents/USF_MSDS/Module_1/593-Visualization/final_project/the-movies-dataset-clean/ratings.csv')
links = pd.read_csv('/Users/nickparker/Documents/USF_MSDS/Module_1/593-Visualization/final_project/the-movies-dataset-clean/links.csv')

ratings = ratings.groupby('movieId').agg({'rating':['mean']}).reset_index() #gets average rating
ratings.columns = ['movieId','rating']
linkAvgRating = pd.merge(links,ratings,on='movieId',how='left')

#credits = pd.read_csv('/Users/nickparker/Documents/USF_MSDS/Module_1/593-Visualization/final_project/the-movies-dataset-clean/credits.csv')
#credits.columns = ['cast','crew','movieId']
#linkRatCred = pd.merge(linkAvgRating,credits,on='movieId',how='left')

meta['imdbId'] = pd.to_numeric(meta['imdb_id'].str[2:])
meta = pd.merge(meta,linkAvgRating,on='imdbId',how='left')

In [16]:
cast.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [8]:
meta.head(1).T

                                                                       0
adult                                                              False
belongs_to_collection  {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                          30000000
genres                 [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                            http://toystory.disney.com/toy-story
id                                                                   862
imdb_id                                                        tt0114709
original_language                                                     en
original_title                                                 Toy Story
overview               Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.9469
poster_path                             /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies      [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries   [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                  1995-10-30
revenue                                                      3.73554e+08
runtime                                                               81
spoken_languages                [{'iso_639_1': 'en', 'name': 'English'}]
status                                                          Released
tagline                                                              NaN
title                                                          Toy Story
video                                                              False
vote_average                                                         7.7
vote_count                                                          5415
profit                                                       3.43554e+08
useOfBudget                                                      12.4518
ProductionCo1                                    Pixar Animation Studios
ProductionCo2                                                        nan
genre1                                                         Animation
genre2                                                            Comedy
genre3                                                            Family
imdbId                                                            114709
movieId                                                                1
tmdbId                                                               862
rating                                                           3.88816

## Making Flops dataframe

In [19]:
flop = meta.loc[(meta['revenue'] > 0)]
flop['flop'] = 0
flop.loc[(flop['profit'] < 0),'flop'] = 1

/Users/nickparker/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/nickparker/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [21]:
flop[['title']]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,ProductionCo1,ProductionCo2,genre1,genre2,genre3,imdbId,movieId,tmdbId,rating,flop
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Pixar Animation Studios,nan,Animation,Comedy,Family,114709.0,1.0,862.0,3.888157,0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,TriStar Pictures,Teitler Film,Adventure,Fantasy,Family,113497.0,2.0,8844.0,3.236953,0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Twentieth Century Fox Film Corporation,nan,Comedy,Drama,Romance,114885.0,4.0,31357.0,2.875713,0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Sandollar Productions,Touchstone Pictures,Comedy,nan,nan,113041.0,5.0,11862.0,3.079565,0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,Regency Enterprises,Forward Pass,Action,Crime,Drama,113277.0,6.0,949.0,3.841764,0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,Universal Pictures,Imperial Entertainment,Action,Adventure,Thriller,114576.0,9.0,9091.0,3.008365,0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,United Artists,Eon Productions,Adventure,Action,Thriller,113189.0,10.0,710.0,3.431841,0
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,Columbia Pictures,Castle Rock Entertainment,Comedy,Drama,Romance,112346.0,11.0,9087.0,3.660591,0
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,Universal Pictures,Amblin Entertainment,Family,Animation,Adventure,112453.0,13.0,21032.0,3.326442,0
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,Hollywood Pictures,Cinergi Pictures Entertainment,History,Drama,nan,113987.0,14.0,10858.0,3.430807,1
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,Le Studio Canal+,Laurence Mark Productions,Action,Adventure,nan,112760.0,15.0,1408.0,2.727040,1
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,Universal Pictures,Légende Entreprises,Drama,Crime,nan,112641.0,16.0,524.0,3.795511,0
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,Columbia Pictures Corporation,Mirage Enterprises,Drama,Romance,nan,114388.0,17.0,4584.0,3.952227,0
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,Miramax Films,A Band Apart,Crime,Comedy,nan,113101.0,18.0,5.0,3.409031,0
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,O Entertainment,Warner Bros.,Crime,Comedy,Adventure,112281.0,19.0,9273.0,2.633983,0
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,Columbia Pictures,nan,Action,Comedy,Crime,113845.0,20.0,11517.0,2.894071,1
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,Jersey Films,Metro-Goldwyn-Mayer (MGM),Comedy,Thriller,Crime,113161.0,21.0,8012.0,3.572137,0
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,Silver Pictures,Canal+,Action,Adventure,Crime,112401.0,23.0,9691.0,3.157631,1
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,United Artists,Intial Productions,Drama,Romance,nan,113627.0,25.0,451.0,3.667513,0
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,New Line Cinema,nan,Comedy,Drama,Family,114011.0,27.0,9263.0,3.424865,0
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,Procirep,Constellation Productions,Fantasy,Science Fiction,Adventure,112682.0,29.0,902.0,3.920885,1
30,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,9909,tt0112792,en,Dangerous Minds,Former Marine Louanne Johnson lands a gig teac...,...,Hollywood Pictures,Via Rosa Productions,Drama,Crime,nan,112792.0,31.0,9909.0,3.238314,0
31,False,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,Universal Pictures,Atlas Entertainment,Science Fiction,Thriller,Mystery,114746.0,32.0,63.0,3.888769,0
33,False,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,...,Universal Pictures,Kennedy Miller Productions,Fantasy,Drama,Comedy,112431.0,34.0,9598.0,3.620594,0
35,False,NaN,11000000,"[{'id': 18, 'name': 'Drama'}]",NaN,687,tt0112818,en,Dead Man Walking,A justice drama based on a true story about a ...,...,Havoc,PolyGram Filmed Entertainment,Drama,nan,nan,112818.0,36.0,687.0,3.931582,0
39,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,34615,tt0112749,en,"Cry, the Beloved Country",A South-African preacher goes to search for hi...,...,Miramax,Distant Horizon,Drama,nan,nan,112749.0,40.0,34615.0,3.650953,0
43,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,9312,tt0113855,en,Mortal Kombat,For nine generations an evil sorcerer has been...,...,New Line Cinema,Threshold Entertainment,Action,Fantasy,nan,113855.0,44.0,9312.0,2.629245,0
44,False,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,577,tt0114681,en,To Die For,Susan wants to work in television and will the...,...,The Rank Organisation,Columbia Pictures Corporation,Fantasy,Drama,Comedy,114681.0,45.0,577.0,3.372716,0
45,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,11861,tt0113347,en,How To Make An American Quilt,Soon-to-be-wed graduate student Finn Dodd deve...,...,Universal Pictures,Amblin Entertainment,Drama,Romance,nan,113347.0,46.0,11861.0,3.269023,0
46,False,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,New Line Cinema,Juno Pix,Crime,Mystery,Thriller,114369.0,47.0,807.0,4.068128,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44791,False,NaN,8520000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,434119,tt5606538,ko,공조,When a crime organization from North Korea cro...,...,CJ Entertainment,nan,Action,Drama,Comedy,5606538.0,174471.0,434119.0,3.166667,0
44812,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.yugioh20th.com/,366170,tt4273562,ja,遊☆戯☆王 THE DARK SIDE OF DIMENSIONS,Yugi and Kaiba have a special duel that transc...,...,Toei Company,Madman Entertainment,Adventure,Animation,nan,4273562.0,174515.0,366170.0,2.000000,0
44818,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.coltranefilm.com,411012,tt4287434,en,Chasing Trane,The film explores the global power and impact ...,...,Meteor 17,Crew Neck Productions,Documentary,nan,nan,4287434.0,174527.0,411012.0,4.000000,0
44821,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,TV Tokyo,4 Kids Entertainment,Adventure,Fantasy,Animation,235679.0,174533.0,10991.0,2.100000,0
44826,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.pokemon.com/us/movies/movie-pokemon...,12600,tt0287635,ja,劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）,"All your favorite Pokémon characters are back,...",...,nan,nan,Adventure,Fantasy,Animation,287635.0,174543.0,12600.0,1.800000,0
44842,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,Paramount Pictures,Di Bonaventura Pictures,Action,Science Fiction,Thriller,3371366.0,174585.0,335988.0,1.833333,0
44844,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,123229,tt2282849,fr,Les Kaïra,3 childhood friends who have never left their ...,...,Canal+,Ciné+,Comedy,nan,nan,2282849.0,174589.0,123229.0,2.500000,0
44848,False,"{'id': 162782, 'name': 'Mommies Collection', '...",2000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,159447,tt2592500,ru,"С новым годом, мамы!","A continuation of a famous Russian comedy ""Mam...",...,Enjoy Movies,nan,Comedy,Drama,nan,2592500.0,174597.0,159447.0,3.500000,0
44850,False,NaN,2000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,75438,tt1820462,ru,Beremennyy,The main character of the film Sergey Dobrolyu...,...,nan,nan,Comedy,nan,nan,1820462.0,174601.0,75438.0,2.500000,0
44856,False,NaN,3000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,57701,tt1820555,ru,Na Kryuchke!,"Rita, a figure skating coach, wants to prevent...",...,Profit,nan,Comedy,Romance,nan,1820555.0,174613.0,57701.0,4.000000,1
44888,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,408024,tt5072406,fr,Moka,Diane Kramer is led by one obsession: to find ...,...,Canal+,Ciné+,Drama,nan,nan,5072406.0,174691.0,408024.0,2.166667,0
44904,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",http://goodtime.movie/,429200,tt4846232,en,Good Time,A bank robber tries to avoid the law closing i...,...,Rhea Films,A24,Drama,Thriller,Crime,4846232.0,174727.0,429200.0,4.500000,0
44947,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,29458,tt0238891,it,I cento passi,"The story of Peppino Impastato, a political ac...",...,Rai Cinemafiction,Titti Film,Crime,Drama,nan,238891.0,174875.0,29458.0,3.583333,0
44956,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,269795,tt1131724,en,2:22,A man's life is derailed when an ominous patte...,...,Pandemonium,Lightstream Entertainment,Drama,Thriller,nan,1131724.0,174893.0,269795.0,2.333333,0
44970,False,NaN,2196531,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,26147,tt0453365,fi,FC Venus,"Pete is a football enthusiast, who plays as a ...",...,Talent House,nan,Comedy,Romance,nan,453365.0,174935.0,26147.0,3.000000,0
45014,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",http://thedarktower-movie.com,353491,tt1648190,en,The Dark Tower,"The last Gunslinger, Roland Deschain, has been...",...,Imagine Entertainment,Weed Road Pictures,Action,Western,Science Fiction,1648190.0,175197.0,353491.0,3.200000,0
45063,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}]",NaN,290217,tt3956312,en,同桌的妳,"In the summer of 1993, timid and shy Zhou Xiao...",...,Enlight Pictures,nan,Romance,nan,nan,3956312.0,175321.0,290217.0,2.000000,0
45093,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,152155,tt2569398,ru,Со мною вот что происходит,"December, 31st. Impossible Moscow traffic, an ...",...,"Yellow, Black & White",nan,Drama,nan,nan,2569398.0,175383.0,152155.0,4.250000,0
45139,False,NaN,50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",http://www.theemoji-movie.com/,378236,tt4877122,en,The Emoji Movie,"Gene, a multi-expressional emoji, sets out on ...",...,Columbia Pictures,Sony Pictures Animation,Comedy,Family,Animation,4877122.0,175475.0,378236.0,0.631579,0
45167,False,NaN,11000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,395834,tt5362988,en,Wind River,An FBI agent teams with the town's veteran gam...,...,Thunder Road Pictures,Star Thrower Entertainment,Action,Crime,Mystery,5362988.0,175569.0,395834.0,3.250000,0
45238,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,423453,tt4466894,fr,Sahara,Two clans of snakes cohabit in the desert. Bea...,...,StudioCanal,M6 Films,Adventure,Animation,Comedy,4466894.0,175753.0,423453.0,2.500000,0
45248,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,49074,tt0139876,ta,Baasha,Auto rickshaw driver Manickam avoids violence ...,...,Sathya Movies,nan,Action,nan,nan,139876.0,175775.0,49074.0,3.000000,0
45250,False,NaN,12000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,24049,tt0479751,ta,சிவாஜி,Corrupt police and politicians target a comput...,...,AVM Productions,nan,Action,Comedy,Drama,479751.0,175779.0,24049.0,3.000000,0
45265,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",...,Motlys,Coproduction Office,Comedy,Drama,nan,2121382.0,175813.0,265189.0,3.916667,0
45381,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,264269,tt2400314,ru,Vladeniye 18,"Sveta and Maxim, a happy newlyweds, are moving...",...,Lyuksor,nan,Horror,Thriller,Mystery,2400314.0,176077.0,264269.0,3.500000,0
45399,False,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,280422,tt3805180,ru,Все и сразу,NaN,...,Кинокомпания «Lunapark»,Инвада фильм,Crime,Comedy,nan,3805180.0,176129.0,280422.0,3.000000,1
45401,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,240789,tt1197626,ru,Чудо,The film is based on real events that took pla...,...,Central Partnership,Amkart Studios,Drama,History,Mystery,1197626.0,176133.0,240789.0,3.500000,0
45409,False,NaN,800000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,62757,tt0933361,en,Dikari,"The sea, August, interesting and simple people...",...,nan,nan,Comedy,Drama,nan,933361.0,176149.0,62757.0,4.500000,0
45412,False,NaN,2000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,63281,tt1718881,en,Про любоff,"У девушки Даши, приехавшей с подругой «покорят...",...,Profit,nan,Romance,Drama,nan,1718881.0,176155.0,63281.0,4.000000,1
45422,False,NaN,5000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,63898,tt1110037,ru,Антидурь,Failing to complete an important assignment wi...,...,nan,nan,Action,Comedy,Crime,1110037.0,176177.0,63898.0,3.500000,1

# Export

#### When you are done with the data manipulation, save as csv in our manipulated data folder

In [9]:
export_csv = meta.to_csv (r'movie_dataset_edited/meta.csv', header=True)
#Don't forget to add '.csv' at the end of the path