In [1]:
import pandas as pd
import random
import os
import ast

In [6]:
ratings = pd.read_csv('/Users/nickparker/Documents/USF_MSDS/Module_1/593-Visualization/final_project/the-movies-dataset-clean/ratings.csv')
print(ratings.shape)
ratings.head()

(26024289, 4)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [7]:
ratings = ratings.groupby('movieId').agg({'rating':['mean']}).reset_index()
ratings.columns = ['movieId','rating']
print(ratings.shape)
ratings.head()

(45115, 2)

   movieId    rating
0        1  3.888157
1        2  3.236953
2        3  3.175550
3        4  2.875713
4        5  3.079565